@import "tailwindcss";

:root {
  --primary: 59 130 246; /* blue-500 as default primary */
}

::selection {
  background-color: rgb(var(--primary));
  color: white;
}

::-moz-selection {
  background-color: rgb(var(--primary));
  color: white;
}
